

html {
font-size: 62.5% ;
}

body {
    margin: 2rem 7rem 2rem 14rem;
    font-family: 'poppins' ;
}
  .wrapper {
    
    margin: 0 auto;
   header {
    display : flex ;
    justify-content:  space-between;
  

   }
  

  }
  nav{
margin: 4em;

  }
nav ul{
    list-style-type: none;
    display: flex;
    gap:2.1em ;
    margin : 0;


    position: relative;
}
nav a  {
text-decoration: none;
color: black;

font-size: 1.6rem;

}
nav a.active::after{
  position :absolute;
  content: "";
  width : 2% ;
  height: 1px;
  border-bottom: 2px solid black ;
  bottom: 0;
  

}
/*hero */

main {
  display: flex;
  gap: 8em;
 
}
.left-col{
  width: 40%;
}
.right-col {
  flex-grow: 1;
}

h1{

  color: black;
  font-family: 'playfair Display';
  font-weight: bold;

  margin: 0;
}
h2 {
  font-size: 5.2rem;
  color: black;
  font-family: 'playfair Display';

}


.cta-btns{
  margin: 0em ;

}
.cta-btns, .secondary-cta {
  display : flex ;
  gap: 2em
  ;

}
 .subhead {
  font-size: 1,8rem
  ;

 }


 .cta-btns{
  display: flex;
  gap : 2em;
 }

 .primary-cta{
   background-color: rgb(70, 70, 192);
   font-size: 1.8rem;
   text-decoration: none;
   border-radius: 1.9rem;
   padding: 1em 2em;
 }
 .secondary-cta{
  background-color: rgb(90, 13, 90);
  font-size: 1.8rem;
  border-radius: 2.9rem;
   padding: 1em 2em;
  text-decoration: none;
  color: rgb(214, 203, 203);
  display: block ;
  
 }

 .secondary-cta svg{
 width: 0.3px ;
 }

 .news :before{
  position: absolute;
  content: "";

  width: 400px;
  height: 400px;
}

 /*right galery */


  .right-col{
    display: grid;
    gap : 2.3 ;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    
    "left right"
    "left ."
    ;
  }
    .card {
      border-radius: .8em;
      padding: 1.1em;
      display : flex;
      align-items: end;
      background-size: 130%;
    }
.wrapper2 {
      max-width: 1200px;
      margin: 0 auto;
     header {
      
      justify-content:  space-between;
      align-items: center;
      
  
     }
     .left-col{
      display: flex;
     }  

.rentals{
  font-family: 'poppins';
  background-color: rgb(99, 99, 20);
}


    }
      .main {
    
        
        color: black;
        font-size: 2.1rem;

      }  
      .saw{
        color: rgb(146, 91, 23);
        font-size: 0.9rem;
      }


     
      .relaxed{
        max-width: 1200px;
        margin: 0 auto;
       header {
        display : flex ;
        justify-content:  space-between;
        align-items: center;
    
       }
      }
      nav ul{
        margin: 0;
        gap: 6em;
        padding: 0.3;
        

      }
      h3 {
        font-size: 01.3rem;
        color: black;
       
      }
      h4{
        font-size: 01.1rem;
        color: rgb(172, 172, 212);
       
      }
    .rentals{
      background-color: grey;

    }
    .whisperer{
      background-color: white;
      padding-top: 0%;
    }
    .least{
      background-color: white;
    }